@import "./variables.scss";
@import "./transitions.scss";

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

// COLORS AND UTİLİTY CLASSES
.red-text {
  background-color: $red;
  color: white;
  padding: 1rem 1rem;
}
// COLORS AND UTİLİTY CLASSES

// HEADER
header {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding: 0.2rem 2rem;
  margin-top: 1rem;
  font-weight: 400;

  .navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    // NAVİGATİON İTEMS
    &__nav-items {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding-left: 0;

      li {
        list-style: none;
      }
    }
    // NAVİGATİON İTEMS

    // NAVİGATİON BUTTON
    &__button-container {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      background-color: $black;
      padding: 0.8rem 1rem;
      color: white;
    }
  }
}

// HEADER

// WELCOME PART
.welcome {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 5rem;
  // BLAZİNGLY FAST TEXT AND BUTTONS
  &__text-container {
    line-height: 10rem;
    h1 {
      font-size: 5.3rem;
      font-weight: 900;
      margin-bottom: 0.2rem;
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 0.4rem;
      button {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        background-color: $black;
        padding: 1.3rem 1.8rem;
        color: white;
        border: none;
      }
      .outlined {
        border: 1px solid;
        background-color: transparent;
        color: black;
      }
    }
    // BLAZİNGLY FAST TEXT AND BUTTONS
  }
  // İMAGE/SVG
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    img {
      width: 32rem;
    }
  }
  // İMAGE/SVG
  //OBSOLUTELY POSİTİONED BOX
  &__container {
    position: absolute;
    bottom: -5rem;
    right: 5rem;
    width: 35%;
    display: flex;
    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $black;
      padding: 0 1rem;
      color: white;
    }

    &-red {
      background-color: $red;
      padding: 2rem 3rem;
      text-align: center;
      font-size: 5rem;
      font-weight: 800;
      color: white;
    }
  }
  //OBSOLUTELY POSİTİONED BOX
}

// PURPLE
.purple {
  padding: 10rem 10rem;
  background-color: $purple;
  position: relative;
  z-index: -1;
  .purple-box-section {
    position: absolute;
    bottom: -5rem;
    right: 20%;
    width: 60%;
    background-color: $red;
    display: flex;
    align-items: center;
    padding: 3rem 2rem;
    justify-content: space-between;
    gap: 3rem;
    button {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      background-color: $black;
      padding: 1.3rem 1.8rem;
      color: white;
      border: none;
    }
    .purple-box-text {
      font-size: 3rem;
      padding: 2rem 2rem;
      color: white;
      font-weight: 800;
    }
  }
}

// PURPLE UPPER SECTİON
.purple__firstsec {
  .upper-text {
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: white;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      margin-top: 1rem;
      font-size: 1rem;
      color: white;
      font-weight: 800;
    }
  }
  p {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    padding: 1rem 0rem;
    margin-bottom: 8rem;
  }
}

// PURPLE CARDS SECTİON

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  gap: 5rem;
  margin-bottom: 10rem;
  .card {
    display: inline-block;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
    gap: 0rem;
    width: 20rem;
    text-align: justify;

    img {
      width: 2rem;
    }

    h4 {
      font-weight: 900;
      font-size: 1.3rem;
    }

    p {
      font-weight: 300;
      font-size: 0.9rem;
    }

    svg {
      color: white;
    }
  }
}

// PURPLE

//NEWS SECTİON

.news {
  padding: 10rem 15rem;
  color: black;
  z-index: 10;
  position: relative;

  .purple__firstsec {
    .upper-text {
      border-bottom: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        color: black;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        margin-top: 1rem;
        font-size: 1rem;
        color: black;
        font-weight: 800;
      }
    }
    p {
      font-size: 1.3rem;
      font-weight: 400;
      color: black;
      padding: 1rem 0rem;
      margin-bottom: 2rem;
    }
  }
}

.news__image-con {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.news__image-container {
  width: 20%;
  height: 70vh;
  background-image: url(/img/executium-EM3BTKStjiA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}
.news-box {
  position: absolute;
  bottom: -10%;
  border: 1px solid black;
  left: 4rem;
  padding: 2rem;
  width: 18rem;
  background-color: white;
  display: none;

  span {
    font-weight: 800;
  }
}
.width {
  width: 90%;
}

//WHOS BUİLDİNG ON AVALANCHE
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
}
//WHOS BUİLDİNG ON AVALANCHE

//NEWS SECTİON

//BLACK BACKGROUNDED SECTİON
.black {
  padding: 5rem 15rem;
  background-color: $black;
  &__heading {
    color: white;
    margin-top: 4rem;
    margin-bottom: 5rem;

    p {
      font-size: 1.5rem;
      color: rgb(196, 191, 191);
      font-weight: 300;
    }
    .upper-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid white;
      h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
      }
    }
  }

  .img-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    img {
      width: 90%;
    }
    .text-container {
      margin-left: 5rem;
      padding: 2rem;
      color: white;

      span {
        font-weight: 800;
        font-size: 1.5rem;
      }

      p {
        font-weight: 300;
      }
    }
  }
}
//BLACK BACKGROUNDED SECTİON

//WHİTE BACKGROUN SECTİON

.white {
  padding: 5rem 15rem;

  &__heading {
    color: $black;
    margin-top: 4rem;
    margin-bottom: 5rem;

    p {
      font-size: 1.5rem;
      color: $gray;
      font-weight: 300;
      margin-top: 2rem;
    }
    .upper-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
      }
      span {
        font-weight: 600;
      }
    }
  }

  .text {
    text-align: left;
    margin-top: 10rem;
    h3 {
      font-size: 5rem;
    }
    p {
      font-size: 1.3rem;
      color: $gray;
      font-weight: 370;
    }
  }

  .text-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    font-weight: 300;

    .list {
      ul {
        margin-left: -0.9rem;
        display: flex;
        gap: 0.6rem;
        flex-direction: column;
      }
    }
  }
  .cta {
    margin-top: 10rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;

    > * {
      cursor: pointer;
      :hover {
        color: brown;
      }
    }
  }

  .images-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    color: white;

    :nth-of-type(2) {
      background-color: $yellow;
      color: $black;

      img {
        width: 40%;
      }
    }

    :nth-of-type(3) {
      background-color: $black;

      img {
        width: 40%;
      }
    }

    :nth-of-type(4) {
      background-color: white;
      border: 0.5px solid black;
      color: $black;

      img {
        width: 40%;
      }
    }

    div {
      width: 500px;
      height: 500px;
      background-color: $purple;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 3;

      img {
        width: 20%;
      }

      .text-part {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        width: auto;
        height: auto;
        background-color: transparent;
        left: 5%;
        bottom: 6%;
        text-align: left;
        padding: 1rem;

        h4 {
          font-size: 3rem;
          margin: 0 0;
        }

        span {
          font-weight: 600;
        }
      }
    }
  }
}

//WHİTE BACKGROUN SECTİON

//MEDİA QUERİES

@media screen and (max-width: 950px) {
  html {
    font-size: 14px;
  }
  // Header
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    .navigation {
      &__nav-items {
        display: none;
      }
    }
  }
  // Header

  // BLAZİNGLY FAST AND OBSOLUTELY POSİTİONED BOX AND SVG
  .welcome {
    padding: 0rem 0rem;
    flex-direction: column;
    position: relative;
    &__text-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &__container {
      position: absolute;
      bottom: -5rem;
      width: 80%;
      &-text {
        background-color: $black;
        padding: 1rem 2rem;
      }
    }
  }
  // BLAZİNGLY FAST AND OBSOLUTELY POSİTİONED BOX AND SVG

  //   PURPLE BACKGROUND STYLES
  .purple {
    padding: 4rem 3rem;
    .purple-box-section {
      flex-direction: column;
      align-items: center;
      width: 80%;
      text-align: left;
      right: 10%;

      .purple-box-text {
        font-size: 2rem;
        margin-bottom: 0;
        padding: 0;
      }
    }
  }
  //   CARDS
  .cards-container {
    .card {
      width: 30rem;
      justify-content: left;
    }

    :last-child {
      margin-bottom: 3rem;
    }
  }
  //   CARD
  //   PURPLE BACKGROUND STYLES

  //NEWS

  .news {
    padding: 5rem 2rem;

    .purple__firstsec {
      .upper-text {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  //NEWS

  .black {
    padding: 5rem 2rem;
    &__heading {
      margin-bottom: 5rem;
      .upper-text {
        h1 {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.3rem;
      }
    }
    .img-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;

      img {
        width: 90%;
      }
      .text-container {
        margin-left: 0rem;

        padding: 2rem;

        span {
          font-weight: 600;
          font-size: 1.2rem;
        }

        p {
          font-weight: 300;
          font-size: 1.2rem;
          margin-bottom: 4rem;
          line-height: 2rem;
        }
      }
    }
  }
  //BLACK
  //WHİTE BACKGROUN SECTİON

  .white {
    padding: 5rem 2rem;

    &__heading {
      color: $black;
      margin-top: 4rem;
      margin-bottom: 5rem;

      p {
        font-size: 1.5rem;
        color: $gray;
        font-weight: 300;
        margin-top: 2rem;
      }
      .upper-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        h1 {
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
        }
        span {
          font-weight: 600;
        }
      }
    }

    .text {
      text-align: left;
      margin-top: 10rem;
      h3 {
        font-size: 5rem;
      }
      p {
        font-size: 1.3rem;
        color: $gray;
        font-weight: 370;
      }
    }

    .text-img {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 3rem;
      font-weight: 300;
      gap: 3rem;

      .images {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        img {
          width: 60%;
        }
      }

      .list {
        ul {
          font-size: 1.4rem;
          margin-left: -0.9rem;
          display: flex;
          gap: 0.6rem;
          flex-direction: column;
        }
      }
    }
  }

  //WHİTE BACKGROUN SECTİON
}
// MEDİA QUERY

//BUTTON DİSSAPPEAR

@media screen and (max-width: 1400px) {
  header {
    .navigation {
      &__button-container {
        display: none;
      }
    }
  }
}

//BUTTON DİSSAPPEAR
